.text{
    margin-left: 40px;
}

.pret{
	margin-left:60px;
}

.products {
	margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 40px;
    width: 100%;
    max-width: 1400px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.product img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap:15px;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #e60023;
}

.Buy {
    display: block;
    margin: 30px auto;
    padding: 16px 38px;
    cursor: pointer;
    border-radius: 100px;
    background: black;
    color:white;
}