button{
    padding: 16px 38px;
    cursor: pointer;
    border-radius: 100px
}

.button:hover{
    background: #ff6b6b;
    color:white;
    border: none;
}

/*introduction-page*/

.hero {
    width: 1188px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding: 50px;
    margin-bottom:68px;
}

.hero img {
    width: 50%;
    height:100%;
    object-fit:cover;
    margin-right: 32px;
}

.hero-text {
    width: 50%;
    padding-left: 20px;
    text-align: left;
    color: black;
}

.hero-text h2 {
    font-size: 49px; 
    margin-bottom: 10px;
    margin-top: -100px;
    line-height:1.2; 
}

.hero-text p{
    margin-top:32px;
    margin-bottom: 32px;
}

.hero-text button {
    background: #F3C9B2;
    color: white;
    border: none;
    margin-top: 10px;
}

/*products*/

.products {
    height: 650px;
    text-align: center;
    padding: 40px 20px;
    background: #FDF8F6;
    margin: 0 auto;
    margin-bottom:68px;
}

.products h2{
    font-size: 35px;
    font-weight: bold;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 84px;
}

.product{
    position: relative;
    max-width: 376px;
    max-height: 344px;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -32px;
    left: 10px;
    right: 10px;
    background: #FDF8F6;
    padding: 10px;
    border-radius: 5px;
}

.product-price{
    font-weight: bold;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.button-container{
    position: relative; 
    bottom: -100px;
}

.button-container button{
    background: #FDF8F6;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

/*subscribe-section*/

.subscribe {
    display:flex;
    flex-direction: column;
    align-items: center;;
    width:1192px;
    height:486px;
    text-align: center;
    background: #ffe5d9;
    margin: 0 auto;
    margin-bottom:68px;
}

.subscribe h2{
    width:35%;
    margin-top:89px;
    font-size:35px;
    font-weight: bold;
}

.subscribe input[type='email']{
    margin-top:32px;
    border-radius: 20px;
    width:100%;
    max-width:504px;
    border:none;
    padding: 20px;
}

.subscribe button{
    margin-top:32px;
    background:#ffe5d9 ;
    color: black;
    border:2px solid black;
    border-radius:100px;
}
