a{
	text-decoration:none;
	color:black;
}

button{
    padding: 16px 38px;
    cursor: pointer;
    border-radius: 100px
}

/*Product page*/

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.product-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    border-style: solid;
}

.product-details {
    margin-left: 40px;
    flex: 1;
}

.product-details h3.brand {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details h1.product-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.product-details p.description {
    font-size: 18px;
    margin-bottom: 20px;
}

.product-details p.price {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-to-cart {
    background: #F3C9B2;
    color: white;
    border: none;
    padding: 12px 24px; /* Smaller padding */
    cursor: pointer;
    border-radius: 100px;
    font-size: 16px; /* Smaller font size */
}

.heart-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ff6b6b;
}