<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aura Secret SignIn</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets_folder/Sign_Log in.css">
</head>
<body>
    <div class="left-section">
        <h1>Everything you need, to make anything you want.</h1>
        <p>Embrace your inner beauty with us.</p>
    </div>
    <div class="right-section">
        <div class="box">
            <h2>Welcome Beauty</h2>
            <p>Don't have an account? <a href="/signin">Sign up for free</a></p>
            <form th:action="@{/login}" th:object="${utilizator}" method="post">
	            <input type="text" th:field="*{email}" placeholder="Email" required >
	            <input type="password" th:field="*{parola}" placeholder="Password" required >
	            <button type="submit">Log In</button>
	        </form>
	            <p th:if="${invalid}" style="color: red;">Email or Password is wrong</p>
        </div>
    </div>
</body>
</html>