<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aura Secret</title>
    <link rel="stylesheet" href="/stylesheets_folder/header_footer.css">
    <link rel="stylesheet" href="/stylesheets_folder/orders.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fdc29e935d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="nav-container">
            <h1 class="company-name">Aura Secret</h1>
            <nav>
                <ul class="nav-right">
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a href="/Cos"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    <li class="user-menu">
                        <a th:if="${utilizator.nume!='user'}" href="#"><i class="fa-solid fa-circle-user"></i></a>
                        <ul th:if="${utilizator.nume!='user'}" class="dropdown">
                            <li><a href="#">Orders</a></li>
                            <li><a href="/preferate">Favorites</a></li>
                            <li><a href="/logOut">Log Out</a></li>
                        </ul>
                        <a th:unless="${utilizator.nume!='user'}" href="/signin"><i class="fa-solid fa-circle-user"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="Orders">
            <h2 class="Title">Lista de comenzi:</h2>
            <div class="Orders-List" th:each="comanda : ${comenzi}">
                <ul class="orders">
                    <li><a th:href="@{/Comanda/{id}(id=${comanda.id})}" th:text="'Comanda ' + ${comanda.id}"></a></li>
                </ul> 
            </div>
        </section>
    </main>

    <footer>
        <p>Aura Secret</p>
        <div class="footer-terms">
        <p>Aura Secret &copy; 2023</p>
        <p>Terms and Conditions</p>
        </div>
        <p>(305) 555-0123</p>
    </footer>

</body>
</html>