<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${produs.nume}"></title>
    <link rel="stylesheet" href="/stylesheets_folder/Product page.css">
    <link rel="stylesheet" href="/stylesheets_folder/header_footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fdc29e935d.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="nav-container">
        	<a href="/" class="company-name">Aura Secret</a>
            <nav>
                <ul class="nav-center">
                    <li><a href="#">Magazine</a></li>
                    <li><a href="#">Noutăți</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav-right">
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a href="/Cos"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    <li class="user-menu">
                        <a th:if="${utilizator.email!='user'}" href="#"><i class="fa-solid fa-circle-user"></i></a>
                        <ul th:if="${utilizator.email!='user'}" class="dropdown">
                            <li><a href="#">Orders</a></li>
                            <li><a href="/preferate">Favorites</a></li>
                            <li><a href="/logOut">Log Out</a></li>
                        </ul>
                        <a th:unless="${utilizator.email!='user'}" href="/signin"><i class="fa-solid fa-circle-user"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="product-container">
            <div class="product-image">
                <img th:src="${produs.img}" alt="Product image">
            </div>
            <div class="product-details">
                <h3 class="brand">Armani</h3>
                <h1 class="product-title" th:text="${produs.nume}"></h1>
                <p class="description" th:text="${produs.desc}"></p>
                <p class="price" th:text="${produs.pret} + ' Lei'"><strong></strong></p>
                <div class="cart-container">
                	
                	<div th:if="${produs.stoc>0&&produs.stoc>cantitate}">
                		<form th:action="@{/addCos}" method="post">
                			<input type="hidden" th:value="${produs.id}" name="produsId">
                			<button class="add-to-cart" type="submit">Adaugă în coș</button>
                		</form>
                	</div>
                	
                	<div th:unless="${produs.stoc>0&&produs.stoc>cantitate}">
                		<p> Acest produs nu mai este in stoc </p>
                	</div>
                    
                    
                    <div th:if="${estePreferat}">
                    	<form th:action="@{/preferate/remove}" method="post">
                    		<input type="hidden" th:value="${produs.id}" name="productId"/>
                    		<button class="heart-icon" type="submit">
                    			<i class="fa-solid fa-heart"></i>
                    		</button>
                    	</form>
                    </div>
                    
                    <div th:unless="${estePreferat}">
                    	<form th:action="@{/preferate/add}" method="post">
                    		<input type="hidden" th:value="${produs.id}" name="productId"/>
                    		<button class="heart-icon" type="submit">
                    			<i class="fa-regular fa-heart"></i>
                    		</button> 
                    	</form>
                    </div>
                    
                </div>
                
            </div>
        </section>
    </main>
    
    <footer>
        <p>Aura Secret</p>
        <div class="footer-terms">
        <p>Aura Secret &copy; 2023</p>
        <p>Terms and Conditions</p>
        </div>
        <p>(305) 555-0123</p>
    </footer>
</body>
</html>