<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aura Secret</title>
    <link rel="stylesheet" href="/stylesheets_folder/favorite.css">
    <link rel="stylesheet" href="/stylesheets_folder/header_footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fdc29e935d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="nav-container">
            <a href="/" class="company-name">Aura Secret</a>
            <nav>
                <ul class="nav-right">
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a href="/Cos"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    <li class="user-menu">
                        <a th:if="${utilizator.nume!='user'}" href="#"><i class="fa-solid fa-circle-user"></i></a>
                        <ul th:if="${utilizator.nume!='user'}" class="dropdown">
                            <li><a href="/Comenzi">Orders</a></li>
                            <li><a href="/preferate">Favorites</a></li>
                            <li><a href="/logOut">Log Out</a></li>
                        </ul>
                        <a th:unless="${utilizator.nume!='user'}" href="/signin"><i class="fa-solid fa-circle-user"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="text" th:text="'Comanda nr. ' + ${idComanda}"></h1>
        <h2 class="pret" th:text="'Total pret: ' + ${pretTotal} + ' Lei'"></h2>
        <section class="products">
        	<div class="product-list" th:each="produs :${produseComanda}">
                <div class="product">
                	<a th:href="@{/product/{id}(id=${produs.key.id})}"><img th:src="@{${produs.key.img}}" alt="an image"> </a>
                    <div class="product-info">
                        <p class="product-name" th:text="${produs.key.nume}"></p>
                        <p class="product-price" th:text="${produs.key.pret} + ' lei x ' +${produs.value}"></p>
                    </div>
                </div>
            </div>  
        </section>
</main>

<footer>
    <p>Aura Secret</p>
    <div class="footer-terms">
    <p>Aura Secret &copy; 2023</p>
    <p>Terms and Conditions</p>
    </div>
    <p>(305) 555-0123</p>
</footer>
</body>
</html>